@page "/Fac"
@inject NavigationManager NavigationManager


<PageTitle>Faculty</PageTitle>

<ICT4D.Components.Pages.Entete />




<div class="faculty-container">



    <div class="faculty-selection">
    
        
            <NavLink class="faculty-card" href="/Fac/FS" style="text-decoration: none;">
                <div class="faculty-frame">
                    <img src="images/uni.png" alt="Faculté des Sciences" class="faculty-image" />
                    <p class="faculty-abbreviation">FS</p>
                    <p class="faculty-name">Faculté des Sciences</p>
                </div>
            </NavLink>
        

        
            <NavLink class="faculty-card" href="/Fac/FSE" style="text-decoration: none;">
                <div class="faculty-frame">
                    <img src="images/uni.png" alt="Faculté des Sciences de l’Éducation" class="faculty-image" />
                    <p class="faculty-abbreviation">FSE</p>
                    <p class="faculty-name">Faculté des Sciences de l'Éducation</p>
                </div>
            </NavLink>



        
            <NavLink class="faculty-card" href="/Fac/FALSH" style="text-decoration: none;">
                <div class="faculty-frame">
                    <img src="images/uni.png" alt="Faculté des Lettres" class="faculty-image" />
                    <p class="faculty-abbreviation">FALSH</p>
                    <p class="faculty-name">Faculté des Lettres</p>
                </div>
            </NavLink>
    
</div>
</div>

<ICT4D.Components.Pages.Footer />



