
 <footer>
    <div class="footer-content">

      <div class="logo-footer">
        <p><img src="images/logo.png" alt="icone-code" class="logo">  Cours. </p>
      </div>

    <div class="copyright">
        <p>&copy; Tous droits réservés.</p>
      </div>

      <div class="social-links">
        <a href="" class="social-icon">Facebook</a>
        <a href="" class="social-icon">Twitter</a>
        <a href="" class="social-icon">LinkedIn</a>
        <a href="" class="social-icon">Instagram</a>
      </div>
    </div>
  </footer>