@page "/"


<PageTitle>Home</PageTitle>

<ICT4D.Components.Pages.Entete pag="/" />

<div class="welcome-container" style="margin-bottom: 25px;">
    
    <div class="role-selection" style="margin-bottom: 5px;">

    <NavLink class="role-card" href="Fac" style="text-decoration: none;" >

       <div class="faculty-frame">
            <img src="images/eleve.png" alt="Étudiant" class="role-image" />
            <p class="role-text">Je suis étudiant</p>
       </div>
        
    </NavLink>
       

        <NavLink class="role-card" href="Fac" style="text-decoration: none;" > 
            <div class="faculty-frame">
            <img src="images/prof.png" alt="Enseignant" class="role-image" />
            <p class="role-text">Je suis enseignant</p>
            </div>
        </NavLink>
    </div>
</div>

<ICT4D.Components.Pages.Footer />



